﻿@model AtCostWeightAPI.Models.Port

@*<div class="row">
    <div class="col-md-8">
        <h4>Please chose the COM Port and click on test button to get weight.</h4>
        @foreach (var port in Model.Names)
        {
            <div>
                <input type="radio" name="portname" value="@port"> @port
            </div>
        }
        <button class="btn btn-default" onclick="home.getweight();">Test COM</button>
        <button class="btn btn-default" onclick="home.setPort();">Configure COM</button>
    </div>
    <div class="col-md-4">
        <input id="wtValue" maxlength="50" name="wtValue" size="10" type="text" value="" />
    </div>
</div>*@

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <h4>Please chose the COM Port and click on test button to get weight.</h4>
        </div>
        <div class="row">
            <div class="col-md-8">
                @foreach (var port in Model.Names)
                {
                    <input type="radio" name="portname" value="@port"> @port
                }
            </div>
            <div class="col-md-4">
                <input id="wtValue" maxlength="50" name="wtValue" size="10" type="text" value="">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <h4>Please chose the Weight scale type.</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="radio" name="scaleType" value="K"> KG <br/>
                <input type = "radio" name = "scaleType" value = "G" > GM
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-default" onclick="home.getweight();">Test COM</button>
    </div>
    <div class="col-md-6">
        <button class="btn btn-default" onclick="home.configure();">Configure COM</button>
    </div>
</div>

<script>
    var home = (function () {
        var BASE_URL = 'http://localhost:1065';
        var getweight = function () {
            console.log("Weight function called");
            var sel_portname = $("input[name='portname']:checked").val();
            console.log(sel_portname);
            var data = null;

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
                if (this.readyState === 4) {
                    var res = JSON.parse(this.responseText);
                    console.log(res);
                    $("input[name='wtValue']").val(res.Value);
                    stopLoading();
                }
            });

            if (sel_portname === undefined || sel_portname === null)
                sel_portname = "";

            xhr.open("GET", BASE_URL + "/api/weight/getcurrentweighttest?PortName=" + sel_portname);
            xhr.setRequestHeader("cache-control", "no-cache");
            startLoading();
            xhr.send(data);

        };

        var configure = function () {
            console.log("Weight function called");
            var sel_portname = $("input[name='portname']:checked").val(); //get selected portName value
            var sel_scaleType = $("input[name='scaleType']:checked").val(); //get selected scaleType value
            console.log(sel_portname);

            var data = null;

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
                if (this.readyState === 4) {
                    console.log(this.responseText);
                    stopLoading();
                }
            });

            if (sel_portname === undefined || sel_portname === null)
                sel_portname = "@System.Configuration.ConfigurationManager.AppSettings["PORTNAME"]";

            if (sel_scaleType === undefined || sel_scaleType === null)
                sel_scaleType = "";

            xhr.open("GET", BASE_URL + "/api/weight/configure?PortName=" + sel_portname + "&ScaleType=" + sel_scaleType);
            xhr.setRequestHeader("cache-control", "no-cache");
            startLoading();//Start loader
            xhr.send(data);
        };

        var startLoading = function () { $('#loading').css("display", "block"); };

        var stopLoading = function () { $('#loading').css("display", "none"); };

        return {
            getweight: getweight,
            configure: configure
        }
    })();
</script>